################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStoreAPI/BookStoreAPI/App_Data/BookStore.mdf
/BookStoreAPI/BookStoreAPI/App_Data/BookStore_log.ldf
